@*@model List<EmployeeViewModel>*@
@model List<MVCHomeWork.Models.Accounting>

@{
    ViewBag.Title = "DataGridAction";
    Layout = null;
}

@*<h2>DataGridAction</h2>*@

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>

            @{
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>
                            @{
                                if (item.TypeOfMoney == 1)
                                {
                                    @:支出
                                }
                                else
                                {
                                    @:收入
                                }
                            }

                        </td>
                        <td>@item.Date.ToString("yyy-MM-dd")</td>
                        <td>@item.Money.ToString("N0")</td>
                    </tr>
                }

            }
        </table>
    </div>
</div>